# Lists

In [1]:
list_1 = ["banana", "cherry","apple"]
print(list_1)

['banana', 'cherry', 'apple']

In [2]:
#Create empty list with list function
list_2 = list()
print(list_2)

[]

In [3]:
#list allows us the diffrent data types
list_3 = [3,"apple",True]
list_3

[3, 'apple', True]

In [4]:
#list allow duplications
list_4 = [4,2,4,3,4,6]
list_4

[4, 2, 4, 3, 4, 6]

Access the elements from list

In [5]:
item = list_1[1]
print(item)

item = list_1[-1]
print(item)

cherry
apple

Change items of list

In [6]:
list_1[2]=  "lemon"
print(list_1)

['banana', 'cherry', 'lemon']

In [7]:
my_list = ["apple","cherry","banana"]
my_list

['apple', 'cherry', 'banana']

In [8]:
print("length:",len(my_list))

length: 3

In [9]:
my_list.append("orange")
my_list

['apple', 'cherry', 'banana', 'orange']

In [10]:
my_list.insert(1,"lemon")
my_list

['apple', 'lemon', 'cherry', 'banana', 'orange']

In [11]:
# pop() : removes and returns the item at the given position, default is the last item
#my_list.pop(1)
#my_list
item = my_list.pop()
print("popped item is:",item)

popped item is: orange

In [12]:
my_list

['apple', 'lemon', 'cherry', 'banana']

In [13]:
my_list.remove("lemon")

In [14]:
my_list

['apple', 'cherry', 'banana']

In [15]:
# clear() : removes all items from the list
my_list.clear()
my_list

[]

In [16]:
# reverse() : reverse the items
my_list = ["banana", "cherry", "apple"]
my_list.reverse()
print("reversed items are:",my_list)

reversed items are: ['apple', 'cherry', 'banana']

In [17]:
# sort() : sort items in ascending order
my_list.sort()
my_list

['apple', 'banana', 'cherry']

In [18]:
new_list = sorted(my_list)
new_list

['apple', 'banana', 'cherry']

In [19]:
# create list with repeated elements
zeros =[0]* 6
zeros

[0, 0, 0, 0, 0, 0]

In [20]:
#concatenation
concat_list = my_list + zeros
concat_list

['apple', 'banana', 'cherry', 0, 0, 0, 0, 0, 0]

In [21]:
#convert string to list
string_to_list = list("hello world")
string_to_list

['h', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd']

# copy list

In [22]:
list_org = ["apple","banana","cherry"]
# this just copies the reference to the list, so be careful
copy_list = list_org

In [23]:
# modifying the copy also affects the original
copy_list.append(True)
print(copy_list)
print(list_org)

['apple', 'banana', 'cherry', True]
['apple', 'banana', 'cherry', True]

# iteration

In [24]:
for i in list_1:
    print(i)

banana
cherry
lemon

In [25]:
#check if item exists
if "banana" in list_1:
    print("yes")
else:
    print("no")

yes

# Slicing

In [33]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
b = a[1:5]
print(b)

[2, 3, 4, 5]

In [34]:
b= a[:]
b

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [35]:
b= a[1:6:2]
print(b)

[2, 4, 6]

In [36]:
a[2] = 6
print(a)

[1, 2, 6, 4, 5, 6, 7, 8, 9, 10]

In [38]:
b= a[-3]
b

8

In [41]:
b= a[::2]
b

[1, 6, 5, 7, 9]

In [43]:
b=a[::-1]
b

[10, 9, 8, 7, 6, 5, 4, 6, 2, 1]

In [44]:
#List comprehension
a=[1, 2, 6, 4, 5, 6, 7, 8, 9, 10]
b= [i*i for i in a]
print(b)

[1, 4, 36, 16, 25, 36, 49, 64, 81, 100]

In [47]:
a= [[1,5],[3,6]]
print(a)
a[0]

[[1, 5], [3, 6]]

[1, 5]