# Sets

In [1]:
#Create a set
my_set = {"apple", "banana", "cherry"}
print(my_set)

{'apple', 'banana', 'cherry'}

In [2]:
#using set function
my_set_2 = set(["one", "two", "three"])
print(my_set_2)

{'two', 'three', 'one'}

In [3]:
my_set_3 = set("aaabbbcccdddeeeeeffff")
print(my_set_3)

{'c', 'e', 'f', 'b', 'd', 'a'}

# Add elements into set

In [4]:
my_set=set()
#using add( method to add elements)
my_set.add(42)
my_set.add("hello")
my_set.add(True)
print(my_set)

{True, 42, 'hello'}

In [5]:
# nothing happens when the element is already present:
my_set.add(42)
print(my_set)

{True, 42, 'hello'}

# Remove elements

In [6]:
# remove(x): removes x, raises a KeyError if element is not present
my_set = {"apple", "banana", "cherry"}
my_set.remove("apple")
print(my_set)

{'banana', 'cherry'}

In [7]:
# discard(x): removes x, does nothing if element is not present
my_set.discard("cherry")
my_set

{'banana'}

In [8]:
# clear() : remove all elements
my_set.clear()
print(my_set)

set()

In [9]:
# pop() : return and remove a random element
a = {True, 2, False, "hi", "hello"}
print(a.pop())
print(a)

False
{True, 2, 'hello', 'hi'}

check if element is in set

In [10]:
my_set={"apple","banana","cherry"}
for i in my_set:
        print(i)

apple
banana
cherry

union and intersection

In [11]:
odds = {1, 3, 5, 7, 9}
evens = {0, 2, 4, 6, 8}
primes = {2, 3, 5, 7}
# union() : combine elements from both sets, no duplication
# note that this does not change the two sets
u = odds.union(evens)
print(u)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [12]:
# intersection(): take elements that are in both sets
i = odds.intersection(evens)
print(i)

set()

In [13]:
i=evens.intersection(primes)
print(i)

{2}

Diffrence of seys:

In [14]:
setA = {1, 2, 3, 4, 5, 6, 7, 8, 9}
setB = {1, 2, 3, 10, 11, 12}

# difference() : returns a set with all the elements from the setA that are not in setB.
diff_set = setA.difference(setB)
diff_set

{4, 5, 6, 7, 8, 9}

In [15]:
diff_set=setB.difference(setA)
diff_set

{10, 11, 12}

In [16]:
# symmetric_difference() : returns a set with all the elements that are in setA and setB but not in both
diff_set=setA.symmetric_difference(setB)
print(diff_set)

{4, 5, 6, 7, 8, 9, 10, 11, 12}

In [17]:
diff_set=setB.symmetric_difference(setA)
print(diff_set)

{4, 5, 6, 7, 8, 9, 10, 11, 12}

In [18]:
setA = {1, 2, 3, 4, 5, 6, 7, 8, 9}
setB = {1, 2, 3, 10, 11, 12}

# update() : Update the set by adding elements from another set.
setA.update(setB)
print(setA)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12}

In [20]:
# intersection_update() : Update the set by keeping only the elements found in both
setA = {1, 2, 3, 4, 5, 6, 7, 8, 9}
setA.intersection_update(setB)
print(setA)

{1, 2, 3}

In [22]:
# symmetric_difference_update() : Update the set by only keeping the elements found in either set, but not in both
setA = {1, 2, 3, 4, 5, 6, 7, 8, 9}
setA.symmetric_difference_update(setB)
print(setA)

{4, 5, 6, 7, 8, 9, 10, 11, 12}

#### Copying

In [23]:
set_org = {1, 2, 3, 4, 5}
set_copy=set_org

In [25]:
set_copy.update([3,4,5,6,7])
print(set_copy)
print(set_org)

{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 4, 5, 6, 7}

In [26]:
#Now using copy we will copy the set
set_org={1,2,3,4,5}
set_copy=set_org.copy()

set_copy.update([3,4,5,6,7])
print(set_org)
print(set_copy)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 6, 7}

### subset,superset and disjoint

In [28]:
setA = {1, 2, 3, 4, 5, 6}
setB = {1, 2, 3}
# issubset(setX): Returns True if setX contains the set
print(setA.issubset(setB))
print(setB.issubset(setA))

False
True

In [29]:
#superset
print(setA.issuperset(setB))
print(setB.issuperset(setA))

True
False

In [31]:
# isdisjoint(setX) : Return True if both sets have a null intersection, i.e. no same elements
setC = {7,8,9}
print(setA.isdisjoint(setB))
print(setA.isdisjoint(setC))

False
True

### Frozenset
Frozen set is just an immutable version of normal set. While elements of a set can be modified at any time, elements of frozen set remains the same after creation. Creation with: my_frozenset = frozenset(iterable)

In [32]:
a = frozenset([0, 1, 2, 3, 4])

# The following is not allowed:
# a.add(5)
# a.remove(1)
# a.discard(1)
# a.clear()
odds = frozenset({1, 3, 5, 7, 9})
evens = frozenset({0, 2, 4, 6, 8})
print(odds.union(evens))
print(odds.intersection(evens))
print(odds.difference(evens))

frozenset({0, 1, 2, 3, 4, 5, 6, 7, 8, 9})
frozenset()
frozenset({1, 3, 5, 7, 9})