# Tuple

# Create a tuple

In [1]:
tuple_1 = ("Max", 28, "New York")
tuple_2 = "Linda", 25, "Miami"
tuple_3 = (23,)
print(tuple_1)
print(tuple_2)
print(tuple_3)

('Max', 28, 'New York')
('Linda', 25, 'Miami')
(23,)

In [2]:
tuple_4 = tuple([2,5,3])
tuple_4

(2, 5, 3)

In [3]:
item=tuple_1[0]
print(item)

Max

In [4]:
item=tuple_2[-1]
print(item)

Miami

Delete a tuple

In [5]:
del tuple_2

In [6]:
for i in tuple_1:
    print(i)

Max
28
New York

Check if an item exists

In [7]:
if "New York" in tuple_1:
    print("yes")
else:
    print("No")

yes

# Usefule methods

In [8]:
my_tuple = ('a','p','p','l','e',)

In [9]:
#length
len(my_tuple)

5

In [10]:
#count
my_tuple.count("p")

2

In [11]:
#index
print(my_tuple.index("a"))

0

In [12]:
my_tuples = ('3'*5,'6' * 4)
my_tuples

('33333', '6666')

In [14]:
#list to tuple conversion
my_list=[5,3,6,8,9,6]
list_to_tuple=tuple(my_list)
list_to_tuple

(5, 3, 6, 8, 9, 6)

In [15]:
string_to_tuple=tuple("hello world")
string_to_tuple

('h', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd')

In [16]:
tuple_1 = ("Max", 28, "New York")
name, age, city = tuple_1

In [18]:
print(name)
print(age)
print(city)

Max
28
New York

In [20]:
item_first,*item_between,item_last=my_tuple
print(item_first)
print(item_between)
print(item_last)

a
['p', 'p', 'l']
e

slicing

In [21]:

a = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
b = a[1:3] 
print(b)
b = a[2:] # until the end
print(b)
b = a[:3] # from beginning
print(b)
b = a[::2] # start to end with every second item
print(b)
b = a[::-1]
print(b)

(2, 3)
(3, 4, 5, 6, 7, 8, 9, 10)
(1, 2, 3)
(1, 3, 5, 7, 9)
(10, 9, 8, 7, 6, 5, 4, 3, 2, 1)